<p>
I can’t believe I have to cancel our plans for day or date of original event. I am so [silly, forgetful, sorry, absent-minded]. I [didn’t realize, totally forgot, can’t believe] that I need to new event on the same day.  I feel really bad about this, maybe we can activity to do together sometime soon instead!
</p>
