<p>
Sorry! I am going to be [a little, a smidge,  VERY, super, slightly] late. The something you can blame (ie. subway, dog) is always making me late for things! It’s so [typical, annoying, the norm, fetch].  Seriously though, please don’t [leave, wait, be mad, kill me]. Let’s just say [I’ll buy you, I owe you,  I’ll make up for this with] some bribe to apologize [when I get there, next time I see you].
</p>
