<p>
Seriously [dude, friend, pal, buddy, gurl, you]. I just can’t. I have to say [no way, no way jose, nope, not gonna happen] to you this time. I really can’t whatever you are saying no to. Sometimes a [bro, girl, person, guy, gal, lady, robot] just needs to know when to say no, and this is one of those times.
</p>
