<p>
I’m so sorry I can’t [attend, go to, be there for, help with, empty] Event Name. Unfortunately I [am booked for, have already committed to, have to, made plans to] Something else you need to do. I feel really bad about this, maybe we can activity to do together sometime soon instead!
</p>
