<p>
It’s so nice of you to think of me for activity person wants you to do, but I am so consumed with Activity that takes up your time right now.  Maybe once [things are less hectic, I have more free time, Activity that takes up your time is over] I will be able to activity person wants you to do. Seriously [though, buddy, friend, pal], I really appreciate you reaching out to me for this. I owe you [a solid, a coffee, dinner, a drink].
</p>
